In [1]:
import pandas as pd
import numpy as np

In [18]:
data_path = './claff-offmychest-master/data/'

In [19]:
test_data_path = data_path + 'test_data/unlabeled_test_set.csv'

In [20]:
training_data = data_path + 'training_data/labeled_training_set.csv'

In [21]:
raw_data = pd.read_csv(training_data)

In [22]:
raw_data.head()

,sentenceid,author,nchar,created_utc,score,subreddit,label,full_text,wordcount,id,Emotional_disclosure,Information_disclosure,Support,General_support,Info_support,Emo_support
0,36.0,LeniaLilac,135,1532518450,81,offmychest,husband boyfriend,Get two nice notebooks and write it down for e...,12,91px39,0,0,0,0,0,0
1,47.0,call-me-mama-t,115,1533351628,59,offmychest,husband boyfriend,I<U+0092>m sobbing reading this thread!,5,91px39,1,1,0,0,0,0
2,57.0,BluebirdOnAHill,46,1532513532,35,offmychest,husband boyfriend,Hope you have a nice day,6,91px39,0,0,1,1,0,0
3,58.0,MenudoMenudo,157,1532519594,34,offmychest,husband boyfriend,My wife came in when I was around half way thr...,33,91px39,1,1,0,0,0,0
4,74.0,modistabeat,191,1533722813,30,offmychest,husband boyfriend,I am crying a lot of happy tears right now.,10,91px39,1,0,0,0,0,0

In [23]:
# sentenceid, label, full_text, Emotional_disclosure, Information_disclosure, Support, General_support, Info_support, Emo_support

In [25]:
labeled_data = {'sentenceid':[], 'label':[], 'full_text':[], 'label':[]}

In [30]:
id2labeled_data = {}

In [26]:
label_mapping = {'Emotional_disclosure':0, 'Information_disclosure':1, 'Support':2, 'General_support': 3, 'Info_support':4, 'Emo_support':5}

In [27]:
array_data = np.array(raw_data)

In [28]:
array_data[:5]

array([[36.0, 'LeniaLilac', 135, 1532518450, 81, 'offmychest',
        'husband boyfriend',
        'Get two nice notebooks and write it down for each of them.', 12,
        '91px39', 0, 0, 0, 0, 0, 0],
       [47.0, 'call-me-mama-t', 115, 1533351628, 59, 'offmychest',
        'husband boyfriend', 'I<U+0092>m sobbing reading this thread!',
        5, '91px39', 1, 1, 0, 0, 0, 0],
       [57.0, 'BluebirdOnAHill', 46, 1532513532, 35, 'offmychest',
        'husband boyfriend', 'Hope you have a nice day', 6, '91px39', 0,
        0, 1, 1, 0, 0],
       [58.0, 'MenudoMenudo', 157, 1532519594, 34, 'offmychest',
        'husband boyfriend',
        "My wife came in when I was around half way through this and asked why I was all choked up and watery eyed, so we read it together and now we're both crying.",
        33, '91px39', 1, 1, 0, 0, 0, 0],
       [74.0, 'modistabeat', 191, 1533722813, 30, 'offmychest',
        'husband boyfriend',
        'I am crying a lot of happy tears right now.', 10, '91px39', 1,
        0, 0, 0, 0, 0]], dtype=object)

In [32]:
for i in range(0, len(array_data)):
    sentenceid = array_data[i][0]
    label = array_data[i][6]
    full_text = array_data[i][7]
    
    label_set = []
    for j in range(10, 15):
        if array_data[i][j] == 1:
            label_set.append(j-10)
    id2labeled_data[sentenceid] = [label, full_text, label_set]

In [33]:
id2labeled_data[36]

['husband boyfriend',
 'Get two nice notebooks and write it down for each of them.',
 []]

In [34]:
id2labeled_data[47]

['husband boyfriend', 'I<U+0092>m sobbing reading this thread!', [0, 1]]

In [35]:
import pickle
with open('./processed_data/labeled_data.pkl', 'wb') as f:
    pickle.dump(id2labeled_data, f)

In [46]:
len(id2labeled_data)

12860

In [49]:
list(id2labeled_data.keys())[:10]

[36.0, 47.0, 57.0, 58.0, 74.0, 82.0, 150.0, 153.0, 163.0, 170.0]

In [50]:
id2labeled_data[36]

['husband boyfriend',
 'Get two nice notebooks and write it down for each of them.',
 []]

In [36]:
raw_data = pd.read_csv(test_data_path)

In [37]:
raw_data.head()

,sentenceid,author,nchar,created_utc,score,subreddit,label,full_text,wordcount,id
0,66026,blargghonkk,357,1491057453,2,offmychest,husband wife,Wouldn't want the baby to fall apart on the hi...,10,62hoet
1,96956,Spikekuji,100,1531173984,1,offmychest,wife,You<U+0092>d be in good company there.,6,8xa92s
2,238262,maximize123,279,1501968080,1,CasualConversation,husband,"What a cliche, but as a 20 year old in college...",22,6ru5kk
3,381299,kilawl,2353,1507209034,1,CasualConversation,boyfriend,"Well, when I thought I lost my best friend for...",14,74alb3
4,30238,Munkyed,914,1533323463,3,offmychest,husband wife,I love my brother and all twelve of his kids.,10,944icl

In [38]:
text_unlabeled_data = {}
for i in range(0, len(raw_data['sentenceid'])):
    text_unlabeled_data[raw_data['sentenceid'][i]] = [raw_data['label'][i], raw_data['full_text'][i]]

In [39]:
text_unlabeled_data[66026]

['husband wife', "Wouldn't want the baby to fall apart on the highway."]

In [40]:
import pickle
with open('./processed_data/test_unlabeled_data.pkl', 'wb') as f:
    pickle.dump(text_unlabeled_data, f)

In [45]:
len(text_unlabeled_data)

5000

In [53]:
unlabeled_data_path = data_path + 'unlabeled_data/comments_score_unlabeled.csv'

In [54]:
raw_data = pd.read_csv(unlabeled_data_path)
raw_data.head()

,indexid,author,nchar,created_utc,score,subreddit,label,V1,wordcount,id,sentenceid
0,0.0,stinkbugsinfest,174,1.532508e+09,1906,offmychest,husband boyfriend,You are quite the writer and have a deep sense...,15,91px39,1
1,0.0,stinkbugsinfest,174,1.532508e+09,1906,offmychest,husband boyfriend,May your life continue to be rewarding.,7,91px39,2
2,0.0,stinkbugsinfest,174,1.532508e+09,1906,offmychest,husband boyfriend,"I<U+0092>m glad you shared your story, thank you.",8,91px39,3
3,1.0,plspmmepuppies,185,1.532510e+09,566,offmychest,husband boyfriend,I love how deep this is.,6,91px39,4
4,1.0,plspmmepuppies,185,1.532510e+09,566,offmychest,husband boyfriend,One of the most touching things I<U+0092>ve ev...,12,91px39,5

In [55]:
training_unlabeled_data = {}
for i in range(0, len(raw_data['sentenceid'])):
    training_unlabeled_data[raw_data['sentenceid'][i]] = [raw_data['label'][i], raw_data['V1'][i]]

In [57]:
training_unlabeled_data[1]

['husband boyfriend',
 'You are quite the writer and have a deep sense of introspection, beauty and kindness.']

In [56]:
len(training_unlabeled_data)

420607

In [58]:
import pickle
with open('./processed_data/train_unlabeled_data.pkl', 'wb') as f:
    pickle.dump(training_unlabeled_data, f)